<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="i-Saksham MIS Automation" verbose="1" parallel="false">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Smoke Tests">
        <packages>
            <package name="com.isaksham.tests"/>
        </packages>
    </test>
</suite>
